.btn{
    --color-text: #3F3F3F;
    --color-bg: #E0E0E0;
    --color-hover: #AEAEAE;
    --color-hover-text: #3F3F3F;
    --color-outline-hover: transparent;
    
    user-select: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20.27px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.8;
}

/* Variants */
/*
.btn-outline {
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-text);
}

.btn-outline:hover, .btn-outline:focus {
    background-color: rgba(var(--color), 0.5)!important;
}
*/

.btn-fill {
    background-color: var(--color-bg);
    color: var(--color-text);
}
.btn-fill:hover, .btn-fill:focus {
    color: var(--color-hover-text);
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}
.btn-text {
    color: var(--color-hover);
    background-color: transparent;
    border-color: transparent;
}
.btn-text:hover, .btn-text:focus {
    background-color: var(--color-outline-hover);
}

.btn-outline {
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}
.btn-outline:hover, .btn-outline:focus {
    background-color: var(--color-outline-hover);
}

/* Sizes */
.btn-sm {
    padding: 5px 12px;
}
.btn-md {
    padding: 8px 16px;
}
.btn-lg {
    padding: 12px 24px;
}

/* shadow */
.btn-shadow {
    box-shadow: 0px 2px 3px 0px #33333333;
}

/* color */
.btn-primary {
    --color-text: #fff;
    --color-bg: #2962FF;
    --color-hover: #0039CB;
    --color-hover-text: #fff;
    --color-outline-hover: #2962FF1A;
}
.btn-secondary {
    --color-text: #fff;
    --color-bg: #455A64;
    --color-hover: #1C313A;
    --color-hover-text: #fff;
    --color-outline-hover: #455A641A;
}
.btn-danger {
    --color-text: #fff;
    --color-bg: #D32F2F;
    --color-hover: #9A0007;
    --color-hover-text: #fff;
    --color-outline-hover: #D32F2F1A;
}

/* Dev only */
.dev-focus:not(.btn-text) {
    color: var(--color-hover-text);
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}
.dev-focus.btn-text {
    background-color: var(--color-outline-hover);
}
.dev-focus.btn-outline {
    background-color: var(--color-outline-hover);
    color: var(--color-bg)
}